In [151]:
import pandas as pd

In [152]:
df = pd.read_csv('vn_housing_dataset.csv')

In [153]:
df.drop(['Unnamed: 0','Ngày','Địa chỉ'], axis = 1,inplace=True)

In [154]:
df = df.rename(columns = {"Quận":"district", 
                                  "Huyện":"ward", "Loại hình nhà ở":"type_of_housing",
                                 "Giấy tờ pháp lý":"legal_paper", "Số tầng":"num_floors",
                                 "Số phòng ngủ":"num_bed_rooms", "Diện tích":"squared_meter_area",
                                 "Dài":"length_meter", "Rộng":"width_meter", "Giá/m2":"price_in_million_per_square_meter"})

Cleaning data and removing outliers

In [155]:
df.head()

,district,ward,type_of_housing,legal_paper,num_floors,num_bed_rooms,squared_meter_area,length_meter,width_meter,price_in_million_per_square_meter
0,Quận Cầu Giấy,Phường Nghĩa Đô,"Nhà ngõ, hẻm",Đã có sổ,4,5 phòng,46 m²,NaN,NaN,"86,96 triệu/m²"
1,Quận Thanh Xuân,Phường Kim Giang,"Nhà mặt phố, mặt tiền",NaN,NaN,3 phòng,37 m²,NaN,NaN,"116,22 triệu/m²"
2,Quận Hai Bà Trưng,Phường Minh Khai,"Nhà ngõ, hẻm",Đã có sổ,4,4 phòng,40 m²,10 m,4 m,65 triệu/m²
3,Quận Tây Hồ,Phường Thụy Khuê,"Nhà ngõ, hẻm",Đã có sổ,NaN,6 phòng,51 m²,12.75 m,4 m,100 triệu/m²
4,Quận Thanh Xuân,Phường Kim Giang,"Nhà ngõ, hẻm",NaN,NaN,4 phòng,36 m²,9 m,4 m,"86,11 triệu/m²"

In [156]:
df = df.dropna()
df = df[df['num_bed_rooms'] != 'nhiều hơn 10 phòng']
df = df[df['num_floors'] != 'Nhiều hơn 10']

In [157]:
set(df['num_floors'])

{'1',
 '10',
 '12',
 '2',
 '3',
 '33',
 '35',
 '4',
 '45',
 '5',
 '50',
 '52',
 '54',
 '55',
 '6',
 '7',
 '73',
 '8',
 '9'}

In [158]:
def handle_str(st):
    return str(st).split(' ')[0]
df['num_bed_rooms'] = df['num_bed_rooms'].apply(lambda x:handle_str(x))
df['squared_meter_area'] = df['squared_meter_area'].apply(lambda x:handle_str(x))
df['length_meter'] = df['length_meter'].apply(lambda x:handle_str(x))
df['width_meter'] = df['width_meter'].apply(lambda x:handle_str(x))
df['price_in_million_per_square_meter'] = df['price_in_million_per_square_meter'].apply(lambda x:handle_str(x))


df.head()

,district,ward,type_of_housing,legal_paper,num_floors,num_bed_rooms,squared_meter_area,length_meter,width_meter,price_in_million_per_square_meter
2,Quận Hai Bà Trưng,Phường Minh Khai,"Nhà ngõ, hẻm",Đã có sổ,4,4,40,10,4,65
15,Quận Long Biên,Phường Bồ Đề,"Nhà ngõ, hẻm",Đã có sổ,5,4,52,12,4.2,"93,27"
24,Quận Hà Đông,Phường La Khê,"Nhà mặt phố, mặt tiền",Đã có sổ,5,5,90,18,5,"108,89"
29,Quận Nam Từ Liêm,Phường Tây Mỗ,"Nhà ngõ, hẻm",Đã có sổ,4,3,32,6.6,4.5,"60,94"
34,Huyện Thanh Trì,Xã Tả Thanh Oai,"Nhà ngõ, hẻm",Đã có sổ,3,2,42,11,4,"29,76"

In [165]:
def format_num(st):
     st = str(st)
     st = st.replace(',','.')
     return st
df['price_in_million_per_square_meter'] = df['price_in_million_per_square_meter'].apply(lambda x: format_num(x))
df.head()

,district,ward,type_of_housing,legal_paper,num_floors,num_bed_rooms,squared_meter_area,length_meter,width_meter,price_in_million_per_square_meter
2,Quận Hai Bà Trưng,Phường Minh Khai,"Nhà ngõ, hẻm",Đã có sổ,4,4,40.0,10.0,4.0,65
15,Quận Long Biên,Phường Bồ Đề,"Nhà ngõ, hẻm",Đã có sổ,5,4,52.0,12.0,4.2,93.27
24,Quận Hà Đông,Phường La Khê,"Nhà mặt phố, mặt tiền",Đã có sổ,5,5,90.0,18.0,5.0,108.89
29,Quận Nam Từ Liêm,Phường Tây Mỗ,"Nhà ngõ, hẻm",Đã có sổ,4,3,32.0,6.6,4.5,60.94
34,Huyện Thanh Trì,Xã Tả Thanh Oai,"Nhà ngõ, hẻm",Đã có sổ,3,2,42.0,11.0,4.0,29.76

In [175]:
df = df[:700]

In [177]:
df['num_floors'] = pd.to_numeric(df['num_floors'],downcast= 'integer')
df['num_bed_rooms'] = pd.to_numeric(df['num_bed_rooms'],downcast= 'integer')
df['squared_meter_area'] = pd.to_numeric(df['squared_meter_area'],downcast= 'integer')
df['length_meter'] = pd.to_numeric(df['length_meter'],downcast= 'integer')
df['width_meter'] = pd.to_numeric(df['width_meter'],downcast= 'float')
df['price_in_million_per_square_meter'] = pd.to_numeric(df['price_in_million_per_square_meter'],downcast= 'float')

In [179]:
df.dtypes

district                              object
ward                                  object
type_of_housing                       object
legal_paper                           object
num_floors                              int8
num_bed_rooms                           int8
squared_meter_area                   float64
length_meter                         float64
width_meter                          float32
price_in_million_per_square_meter    float32
dtype: object