In [146]:
import pandas as pd

In [147]:
df = pd.read_csv('vn_housing_dataset.csv')

In [148]:
df.drop(['Unnamed: 0','Ngày','Địa chỉ'], axis = 1,inplace=True)

In [149]:
df = df.rename(columns = {"Quận":"district", 
                                  "Huyện":"ward", "Loại hình nhà ở":"type_of_housing",
                                 "Giấy tờ pháp lý":"legal_paper", "Số tầng":"num_floors",
                                 "Số phòng ngủ":"num_bed_rooms", "Diện tích":"squared_meter_area",
                                 "Dài":"length_meter", "Rộng":"width_meter", "Giá/m2":"price_in_million_per_square_meter"})

Cleaning data and removing outliers

In [150]:
df.head(10)

,district,ward,type_of_housing,legal_paper,num_floors,num_bed_rooms,squared_meter_area,length_meter,width_meter,price_in_million_per_square_meter
0,Quận Cầu Giấy,Phường Nghĩa Đô,"Nhà ngõ, hẻm",Đã có sổ,4,5 phòng,46 m²,NaN,NaN,"86,96 triệu/m²"
1,Quận Thanh Xuân,Phường Kim Giang,"Nhà mặt phố, mặt tiền",NaN,NaN,3 phòng,37 m²,NaN,NaN,"116,22 triệu/m²"
2,Quận Hai Bà Trưng,Phường Minh Khai,"Nhà ngõ, hẻm",Đã có sổ,4,4 phòng,40 m²,10 m,4 m,65 triệu/m²
3,Quận Tây Hồ,Phường Thụy Khuê,"Nhà ngõ, hẻm",Đã có sổ,NaN,6 phòng,51 m²,12.75 m,4 m,100 triệu/m²
4,Quận Thanh Xuân,Phường Kim Giang,"Nhà ngõ, hẻm",NaN,NaN,4 phòng,36 m²,9 m,4 m,"86,11 triệu/m²"
5,Quận Cầu Giấy,Phường Yên Hoà,"Nhà ngõ, hẻm",Đã có sổ,NaN,nhiều hơn 10 phòng,46 m²,12.1 m,3.8 m,"104,35 triệu/m²"
6,Quận Đống Đa,Phường Trung Liệt,"Nhà ngõ, hẻm",NaN,NaN,3 phòng,52 m²,NaN,4.5 m,"112,5 triệu/m²"
7,Quận Hai Bà Trưng,Phường Đống Mác,"Nhà mặt phố, mặt tiền",Đã có sổ,6,5 phòng,32 m²,NaN,6.8 m,"184,38 triệu/m²"
8,Quận Tây Hồ,Phường Xuân La,"Nhà ngõ, hẻm",NaN,NaN,4 phòng,75 m²,12 m,6.5 m,120 triệu/m²
9,Quận Hà Đông,Phường Văn Quán,"Nhà ngõ, hẻm",Đã có sổ,4,3 phòng,41 m²,NaN,3.5 m,"64,63 triệu/m²"

In [151]:
df = df.dropna()
df = df[df['num_bed_rooms'] != 'nhiều hơn 10 phòng']
df = df[df['num_floors'] != 'Nhiều hơn 10']

In [152]:
set(df['num_floors'])

{'1',
 '10',
 '12',
 '2',
 '3',
 '33',
 '35',
 '4',
 '45',
 '5',
 '50',
 '52',
 '54',
 '55',
 '6',
 '7',
 '73',
 '8',
 '9'}

In [153]:
def handle_str(st):
    return str(st).split(' ')[0]
df['num_bed_rooms'] = df['num_bed_rooms'].apply(lambda x:handle_str(x))
df['squared_meter_area'] = df['squared_meter_area'].apply(lambda x:handle_str(x))
df['length_meter'] = df['length_meter'].apply(lambda x:handle_str(x))
df['width_meter'] = df['width_meter'].apply(lambda x:handle_str(x))
df['price_in_million_per_square_meter'] = df['price_in_million_per_square_meter'].apply(lambda x:handle_str(x))


df.head()

,district,ward,type_of_housing,legal_paper,num_floors,num_bed_rooms,squared_meter_area,length_meter,width_meter,price_in_million_per_square_meter
2,Quận Hai Bà Trưng,Phường Minh Khai,"Nhà ngõ, hẻm",Đã có sổ,4,4,40,10,4,65
15,Quận Long Biên,Phường Bồ Đề,"Nhà ngõ, hẻm",Đã có sổ,5,4,52,12,4.2,"93,27"
24,Quận Hà Đông,Phường La Khê,"Nhà mặt phố, mặt tiền",Đã có sổ,5,5,90,18,5,"108,89"
29,Quận Nam Từ Liêm,Phường Tây Mỗ,"Nhà ngõ, hẻm",Đã có sổ,4,3,32,6.6,4.5,"60,94"
34,Huyện Thanh Trì,Xã Tả Thanh Oai,"Nhà ngõ, hẻm",Đã có sổ,3,2,42,11,4,"29,76"

In [154]:
def format_num(st):
     st = str(st)
     st = st.replace(',','.')
     return st
df['price_in_million_per_square_meter'] = df['price_in_million_per_square_meter'].apply(lambda x: format_num(x))
df.head()

,district,ward,type_of_housing,legal_paper,num_floors,num_bed_rooms,squared_meter_area,length_meter,width_meter,price_in_million_per_square_meter
2,Quận Hai Bà Trưng,Phường Minh Khai,"Nhà ngõ, hẻm",Đã có sổ,4,4,40,10,4,65
15,Quận Long Biên,Phường Bồ Đề,"Nhà ngõ, hẻm",Đã có sổ,5,4,52,12,4.2,93.27
24,Quận Hà Đông,Phường La Khê,"Nhà mặt phố, mặt tiền",Đã có sổ,5,5,90,18,5,108.89
29,Quận Nam Từ Liêm,Phường Tây Mỗ,"Nhà ngõ, hẻm",Đã có sổ,4,3,32,6.6,4.5,60.94
34,Huyện Thanh Trì,Xã Tả Thanh Oai,"Nhà ngõ, hẻm",Đã có sổ,3,2,42,11,4,29.76

In [155]:
set(df['legal_paper'])

{'Giấy tờ khác', 'Đang chờ sổ', 'Đã có sổ'}

In [156]:
df = df[:700]

In [157]:
df['num_floors'] = pd.to_numeric(df['num_floors'],downcast= 'integer')
df['num_bed_rooms'] = pd.to_numeric(df['num_bed_rooms'],downcast= 'integer')
df['squared_meter_area'] = pd.to_numeric(df['squared_meter_area'],downcast= 'float')
df['length_meter'] = pd.to_numeric(df['length_meter'],downcast= 'float')
df['width_meter'] = pd.to_numeric(df['width_meter'],downcast= 'float')
df['price_in_million_per_square_meter'] = pd.to_numeric(df['price_in_million_per_square_meter'],downcast= 'float')

In [158]:
df.head()

,district,ward,type_of_housing,legal_paper,num_floors,num_bed_rooms,squared_meter_area,length_meter,width_meter,price_in_million_per_square_meter
2,Quận Hai Bà Trưng,Phường Minh Khai,"Nhà ngõ, hẻm",Đã có sổ,4,4,40.0,10.0,4.0,65.000000
15,Quận Long Biên,Phường Bồ Đề,"Nhà ngõ, hẻm",Đã có sổ,5,4,52.0,12.0,4.2,93.269997
24,Quận Hà Đông,Phường La Khê,"Nhà mặt phố, mặt tiền",Đã có sổ,5,5,90.0,18.0,5.0,108.889999
29,Quận Nam Từ Liêm,Phường Tây Mỗ,"Nhà ngõ, hẻm",Đã có sổ,4,3,32.0,6.6,4.5,60.939999
34,Huyện Thanh Trì,Xã Tả Thanh Oai,"Nhà ngõ, hẻm",Đã có sổ,3,2,42.0,11.0,4.0,29.760000

In [159]:
df.dtypes

district                              object
ward                                  object
type_of_housing                       object
legal_paper                           object
num_floors                              int8
num_bed_rooms                           int8
squared_meter_area                   float32
length_meter                         float32
width_meter                          float32
price_in_million_per_square_meter    float32
dtype: object

In [161]:
dummy_type_of_housing = pd.get_dummies(df.type_of_housing, prefix="housing_type")
dummy_legal_paper = pd.get_dummies(df.legal_paper, prefix="legal_paper")
dummy_district = pd.get_dummies(df.district, prefix="district")
dummy_ward = pd.get_dummies(df.ward, prefix="ward")

df_cleaned = pd.concat([df, dummy_type_of_housing, dummy_legal_paper, dummy_district, dummy_ward], axis=1)
df_cleaned = df_cleaned.drop(['district', 'ward', 'type_of_housing', 'legal_paper'], axis = 1)

In [163]:
df_cleaned

,num_floors,num_bed_rooms,squared_meter_area,length_meter,width_meter,price_in_million_per_square_meter,housing_type_Nhà biệt thự,"housing_type_Nhà mặt phố, mặt tiền","housing_type_Nhà ngõ, hẻm",housing_type_Nhà phố liền kề,...,ward_Xã Kiêu Kỵ,ward_Xã La Phù,ward_Xã Tam Hiệp,ward_Xã Thanh Liệt,ward_Xã Tả Thanh Oai,ward_Xã Vân Canh,ward_Xã Võng La,ward_Xã Đông Dư,ward_Xã Đông La,ward_Xã Đại Yên
2,4,4,40.0,10.0,4.0,65.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15,5,4,52.0,12.0,4.2,93.269997,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
24,5,5,90.0,18.0,5.0,108.889999,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29,4,3,32.0,6.6,4.5,60.939999,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
34,3,2,42.0,11.0,4.0,29.760000,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5533,4,3,30.0,8.5,4.0,86.669998,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5552,4,3,33.0,10.0,32.0,81.820000,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
5557,1,1,200.0,20.0,10.0,70.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5560,4,3,31.0,13.0,4.0,92.900002,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5565,5,6,50.0,12.0,4.0,107.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0